@import url(https://fonts.googleapis.com/css?family=Josefin+Sans);
@import url(http://fonts.googleapis.com/earlyaccess/notosanstc.css);
/* line 30, ../../sass/sass/style.scss */
html, body {
  font-family: 'Noto Sans TC','Josefin Sans', sans-serif;
  width: 100%;
  height: 100%;
  background-color: #333333;
}
/* line 35, ../../sass/sass/style.scss */
html #wrapper, body #wrapper {
  position: relative;
}
/* line 38, ../../sass/sass/style.scss */
html #wrapper header, body #wrapper header {
  height: 50px;
  background-image: linear-gradient(to bottom, #2c2c2c 0, #111 100%);
}
/* line 41, ../../sass/sass/style.scss */
html #wrapper header > a, body #wrapper header > a {
  height: 100%;
  display: block;
  background: url(../../images/logo_iscar.png) no-repeat center center;
  background-color: #F26531;
  color: #ffffff;
}
/* line 49, ../../sass/sass/style.scss */
html #wrapper header .nav_style > div, body #wrapper header .nav_style > div {
  z-index: 999;
  position: relative;
  background-image: linear-gradient(to bottom, #2c2c2c 0, #111 100%);
}
/* line 54, ../../sass/sass/style.scss */
html #wrapper header .nav_style > .collapse, body #wrapper header .nav_style > .collapse {
  background-color: #000000;
}
/* line 58, ../../sass/sass/style.scss */
html #wrapper header .nav_style li.active a, body #wrapper header .nav_style li.active a {
  background-image: linear-gradient(to bottom, #0F832F 0, #0F832F 100%);
}
/* line 62, ../../sass/sass/style.scss */
html #wrapper header .nav_style > a, body #wrapper header .nav_style > a {
  background-color: #000000;
}
/* line 66, ../../sass/sass/style.scss */
html #wrapper header .nav_style .navbar-header a, body #wrapper header .nav_style .navbar-header a {
  background-image: linear-gradient(to bottom, #FF7e4b 0, #F26531 100%);
}
/* line 70, ../../sass/sass/style.scss */
html #wrapper header .nav_style .dropdown-menu, body #wrapper header .nav_style .dropdown-menu {
  border: none;
}
/* line 73, ../../sass/sass/style.scss */
html #wrapper header .nav_style .navbar-right, body #wrapper header .nav_style .navbar-right {
  margin-right: 0;
}
/* line 77, ../../sass/sass/style.scss */
html #wrapper header .navbar, body #wrapper header .navbar {
  border: none;
  border-radius: 0;
}
/* line 83, ../../sass/sass/style.scss */
html #wrapper .index_content, body #wrapper .index_content {
  background-color: #888888;
  box-shadow: 0px 0px 1px 1px #666666 inset;
}
/* line 86, ../../sass/sass/style.scss */
html #wrapper .index_content .content_box, body #wrapper .index_content .content_box {
  padding: 20px;
}
/* line 88, ../../sass/sass/style.scss */
html #wrapper .index_content .content_box .h2_style, body #wrapper .index_content .content_box .h2_style {
  background-color: #F26531;
  color: #ffffff;
  text-align: center;
  padding: 10px 0;
}
/* line 93, ../../sass/sass/style.scss */
html #wrapper .index_content .content_box .h2_style h2, body #wrapper .index_content .content_box .h2_style h2 {
  font-size: 25px;
  margin-top: 0;
  margin-bottom: 0;
}
/* line 98, ../../sass/sass/style.scss */
html #wrapper .index_content .content_box .aa, body #wrapper .index_content .content_box .aa {
  height: 100px;
  background-color: #F0F0F0;
  box-shadow: 0px 0px 1px 1px #666666 inset;
}
/* line 106, ../../sass/sass/style.scss */
html #wrapper .login_content, body #wrapper .login_content {
  background-color: #888888;
  box-shadow: 0px 0px 1px 1px #666666 inset;
}
@media only screen and (max-width: 767px) {
  /* line 106, ../../sass/sass/style.scss */
  html #wrapper .login_content, body #wrapper .login_content {
    padding-left: 15px;
    padding-right: 15px;
  }
}
/* line 113, ../../sass/sass/style.scss */
html #wrapper .login_content .login_form, body #wrapper .login_content .login_form {
  border-radius: 10px;
  margin-top: 50px;
  margin-bottom: 50px;
  background-color: #ffffff;
  box-shadow: 2px 2px 2px rgba(51, 51, 51, 0.6), 4px 4px 6px rgba(51, 51, 51, 0.4), 6px 6px 12px rgba(51, 51, 51, 0.4);
}
/* line 119, ../../sass/sass/style.scss */
html #wrapper .login_content .login_form .title, body #wrapper .login_content .login_form .title {
  border-radius: 5px 5px 0 0;
  background-color: #F26531;
}
/* line 122, ../../sass/sass/style.scss */
html #wrapper .login_content .login_form .title h1, body #wrapper .login_content .login_form .title h1 {
  color: #ffffff;
  text-align: center;
  padding: 10px;
  font-size: 30px;
  margin-top: 0;
  margin-bottom: 0;
}
/* line 130, ../../sass/sass/style.scss */
html #wrapper .login_content .login_form form, body #wrapper .login_content .login_form form {
  border-radius: 0 0 5px 5px;
  color: #ffffff;
  background-color: #333333;
  padding: 20px;
}
/* line 135, ../../sass/sass/style.scss */
html #wrapper .login_content .login_form form label, body #wrapper .login_content .login_form form label {
  font-weight: 300;
}
/* line 142, ../../sass/sass/style.scss */
html #wrapper .box_box, body #wrapper .box_box {
  display: block;
  height: 50px;
}
/* line 147, ../../sass/sass/style.scss */
html #wrapper footer, body #wrapper footer {
  height: 50px;
  background-image: linear-gradient(to bottom, #1c1c1c 0, #000 100%);
  color: #ffffff;
  line-height: 50px;
  text-align: center;
}
/* line 148, ../../sass/sass/style.scss */
html #wrapper footer.index_footer, body #wrapper footer.index_footer {
  position: fixed;
  bottom: 0;
}
/* line 160, ../../sass/sass/style.scss */
html .p_l_r, body .p_l_r {
  padding-left: 0;
  padding-right: 0;
}
/* line 164, ../../sass/sass/style.scss */
html .j_center, body .j_center {
  text-align: center;
}
